/Animation.meta
/Animator.meta
/AutoSave.meta
/CameraTask.cs.meta
/Fonts.meta
/mixkit-magical-coin-win-1936.wav.meta
/myAudio.mp3.meta
/Prefab.meta
/Render.meta
/Resources.meta
/Scenes.meta
/Scripts.meta
/Shader.meta
/Sprites.meta
/Text.meta
/TextMesh Pro.meta
/Tiles.meta
/UniversalRenderPipelineGlobalSettings.asset.meta